.navbar{
  background-color: #fff;
}
#top{
  background-color: #009fe3;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
footer{
  background-color: #009fe3;
}
li span{
  padding-right: 15px;
}
.seccion{
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 0;
}
.card-body{
  position: static;
}
#porque, #porque .card{
  background-color: #70caf0;
  color: #fff;
}

#lanzamiento p{
  font-size: 70px;
  font-weight: bold;
  color: #70caf0;
}
#map {
  width: 100%;
  height: 400px;
}
i{
  color: #70caf0;
}
#enviar{
  background-color: #70caf0;
  border-color: #70caf0;
}
#form, #descripcion{
  background-color: #f9f9f9;
}
#contenedor div{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
header{
  z-index: 99;
}
img{
  z-index: 0;
}
