.navbar{
  background-color: #fff;
}
#top{
  background-color: #009fe3;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
footer{
  background-color: #009fe3;
}
li span{
  padding-right: 15px;
}
